<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="GWE alias Game Web Engine is a tree-dimensions game engine pretty simple and fun to used !">
		<meta name="keywords" content="game engine, game, engine, 3d, 2d, webgl, graphics, graphics engine, web game engine, web">
		<meta name="author" content="raijin#6313">
		<link rel="stylesheet" type="text/css" href="core.css" media="screen">
		<link rel="stylesheet" type="text/css" href="styles.css" media="screen">
		<title>{{ title }}</title>
	</head>

	<body class="template">
		<div class="template-wrap">
			<center>
				<img class="template-banner" src="{{ banner }}" alt="{{ bannerAlt }}"/>
			</center>
			<a href="/templates" class="template-return">&lt;&#45; Retour</a>
			<div class="template-content">
				<div class="u-row u-row--gutter">
					<div class="u-col u-width--8of12">
						{% apply markdown_to_html %}{{ md }}{% endapply %}
						{% for closeup in closeups %}
							<img src="{{ closeup }}" class="template-closeup"/>
						{% endfor %}
					</div>
					<div class="u-col u-width--4of12">
						<div class="module">
							<div class="module-header">
								<h1 class="module-header-title">Télécharger</h1>
							</div>
							<div class="module-content">
								<div class="buy">
									<a href="#" class="button {{ disabled ? 'button--disabled' }}">Acheter maintenant</a>
									<span class="buy-message">
										<span class="buy-money">€45.00 EUR</span>
										<span class="buy-sub">or more</span>
									</span>
								</div>
							</div>
						</div>
						<div class="module">
							<div class="module-header">
								<h1 class="module-header-title">Plus d'informations</h1>
							</div>
							<div class="module-content">
								<div class="stats">
									<ul>
										<li>
											<span>Statut</span>
											<strong>{{ status }}</strong>
										</li>
										<li>
											<span>Version</span>
											<strong>{{ version }}</strong>
										</li>
										<li>
											<span>Difficulté</span>
											<strong>{{ difficulty }}</strong>
										</li>
										<li>
											<span>Projection</span>
											<strong>{{ projection }}</strong>
										</li>
										<li>
											<span>Graphique</span>
											<strong>{{ graphics }}</strong>
										</li>
										<li class="divider"></li>
										<li>
											<span>Genre</span>
											<strong>{{ genre }}</strong>
										</li>
										<li>
											<span>Auteur</span>
											<strong>{{ author }}</strong>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="module">
							<div class="module-header">
								<h1 class="module-header-title">Tags</h1>
							</div>
							<div class="module-content">
								<ul class="words">
									{% for tag in tags %}
										<li class="word-item">
											<a class="word-link" href="#">{{ tag }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="footer">
				Copyright © 2022 Raijin#6313. Design by
				<a href="#">@Me</a>.
			</div>
		</div>
	</body>
</html>
